name: ${PROJECT_NAME}

services:
  # Connect VS to this:
  workspace:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_VERSION: ${NODE_VERSION}
    command: sh -c "/entrypoint.sh" 
    working_dir: /workspace/${PROJECT_NAME}/
    volumes:
      - astro_workspace:/workspace
    env_file:
      - .env
    stdin_open: true
    tty: true

  dev:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_VERSION: ${NODE_VERSION}
        GIT_USERNAME: ${GIT_USERNAME}
        GIT_USEREMAIL: ${GIT_USEREMAIL}
    command: sh -c "npm cache clean --force &&npm install && npm run dev -- --host"
    working_dir: /workspace/${PROJECT_NAME}/
    ports:
      - "${DEV_PORT}:4321"
    environment:
      - REPO_URL=${REPO_URL}
    volumes:
      - astro_workspace:/workspace
    env_file:
      - .env
    stdin_open: true
    tty: true

  final:
    image: node:${NODE_VERSION}
    working_dir: /workspace/${PROJECT_NAME}/
    command: sh -c "npm cache clean --force &&npm install && npm run build && npx astro preview"
    ports:
      - "${FINAL_PORT}:4321"
    volumes:
      - astro_workspace:/workspace
    env_file:
      - .env

volumes:
  astro_workspace:
