name: ${PROJECT_NAME}

services:
  # Connect VS to this:
  workspace:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_VERSION: ${NODE_VERSION}
    working_dir: /workspace/repo/
    volumes:
      - astro_workspace:/workspace
    env_file:
      - .env
    stdin_open: true
    tty: true

  dev:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_VERSION: ${NODE_VERSION}
    command: sh -c "/entrypoint.sh"
    ports:
      - "${DEV_PORT}:4321"
    environment:
      - REPO_URL=${REPO_URL}
    volumes:
      - astro_workspace:/workspace
    env_file:
      - .env
    stdin_open: true
    tty: true

  final:
    image: node:${NODE_VERSION}
    working_dir: /workspace/repo/astro-app
    command: sh -c "npm install && npm run build && npx astro preview"
    ports:
      - "${FINAL_PORT}:4321"
    volumes:
      - astro_workspace:/workspace
    env_file:
      - .env

volumes:
  astro_workspace:
